@mixin flex-center { display : flex; justify-content : center; align-items : center; }
@mixin flex-center-v { display : flex; align-items : center; }
@mixin flex-center-h { display : flex; justify-content : center; }

@font-face {
  font-family: 'Roboto Regular';
  src: url('fonts/Roboto-Regular.eot');
  src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('fonts/Montserrat-Regular.eot');
  src: url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/Montserrat-Regular.woff2') format('woff2'),
  url('fonts/Montserrat-Regular.woff') format('woff'),
  url('fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Montserrat Bold';
  src: url('fonts/Montserrat-Bold.eot');
  src: url('fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/Montserrat-Bold.woff2') format('woff2'),
  url('fonts/Montserrat-Bold.woff') format('woff'),
  url('fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KaushanScript-Regular';
  src: url('fonts/KaushanScript-Regular.eot');
  src: url('fonts/KaushanScript-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/KaushanScript-Regular.woff2') format('woff2'),
  url('fonts/KaushanScript-Regular.woff') format('woff'),
  url('fonts/KaushanScript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/glyphicons-halflings-regular.woff2') format('woff2'),
  url('fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

ul, li {
  margin : 0;
  padding : 0;
  list-style : none;
}
img {
  display : block;
  width : 100%;
  height : auto;
}
h1, h2, h3, h4 {
  margin : 0;
}
p {
  margin : 0;
}
a, a:hover, a:focus {
  cursor : pointer;
  text-decoration : none;
  color : $text-color;
}
input, textarea {
  display: block;
  width: 100%;
  border : 0;
  border-bottom: 1px solid $text-color;
  box-shadow: none;
  background: transparent;
}
input {
  height : 32px;
}
input:focus, textarea:focus {
  outline : none;
}
button {
  padding: 0;
  outline: none;
  border: none;
  background: none;
  cursor : pointer;
}
#sidebar {
  max-width : 100%;
  overflow : hidden;
}


body {
  font-family : 'Montserrat-Regular';
  position: relative;
  margin : 0;
  line-height: 1.5;
}