.west__button {
    position : relative;
    font-family : 'Montserrat-Bold';
    font-size : 14px;
    color : $header-color;
    border : 3px solid $header-color;
    padding : 12px 30px;
    text-transform : uppercase;
    transition : all $transition-time;
    &:hover {
        text-decoration : none; color : $header-color;
        color : $yellow;
        border-color : $yellow;
    }
}

.site-wrapper {
    max-width : 1920px;
    margin : 0 auto;
}

.standard-section {
    padding : 100px 0 120px 0;
}

.section-box {
    max-width : 1200px;
    margin : 0 auto;
}

.section-heading {
    color : $grey;
    line-height : 1.5;
    text-align : center;
    .section-title {
        font-family : 'KaushanScript-Regular';
        font-size : 24px;
    }
    .section-subtitle {
        margin : 7px 0 0 0;
        font-family : 'Montserrat-Bold';
        font-size : 30px;
        text-transform : uppercase;
    }
    .section-decor {
        margin : 35px 0 35px 0;
        display : inline-block;
        width : 60px;
        height : 3px;
        background-color : $red;
    }
    .section-description {
        margin : 0 0 90px 0;
        font-family : 'Roboto Regular';
        font-size : 15px;
        line-height : 24px;
        color : $light-grey;
    }
}

.post-archive-item-box {
    margin : 0 0 20px 0;
}
.post-archive-item__header {
    position : relative;
    img { }
}
.post-archive-item__date {
    @include flex-center;
    flex-direction : column;
    position : absolute;
    left : -12px;
    bottom : 12px;
    padding : 16px;
    background-color : #98d5cb;
    color : $header-color;
    line-height : 1;
}
.post-archive-item__date-day {
    font-family : 'Montserrat Bold';
    font-size : 30px;
}
.post-archive-item__date-month {
    font-family : 'Roboto Regular';
    font-size : 15px;
}
.post-archive-item__content {
    a {
        display : block;
        padding : 20px 0 0 0;
        font-size : 14px ;
        color : $grey;
        text-transform : uppercase;
        font-weight : 100;
    }
}
.post-archive-item__excerpt {
    padding : 18px 0;
    font-size : 15px;
    color : $light-grey;
    line-height : 1.25;
    border-bottom : 1px solid $semi-transparent-grey;
}
.post-archive-item__meta {
    display : flex;
    padding : 20px 0 0 0;
}
.post-archive-items__meta-item {
    display : flex;
    align-items : center;
    margin : 0 18px 0 0;
    line-height : 1;
    &:last-child { margin : 0; }
    img {
        &.views {
            width : 20px;
            height : 12px;
        }
        &.comments {
            width : 16px;
            height : 15px;
        }
    }
    span {
        margin : 0 0 0 9px;
        font-family : 'Roboto Regular';
        font-size : 15px;
        color : $light-grey;
    }
}

.pagination-box {
    display : flex; margin : 25px 0 0 0; text-align : center;
    .page-numbers {
        display : inline-block; width : 25px; height : 25px; background-color : #98d5cb; @include flex-center; margin : 0 15px 0 0; color : $header-color; border : 2px solid transparent; transition : all 0.4s;
        &.current { color : $grey; font-weight : 700; border-color : $grey; }
        &.next { }
        &.current { }
        &:hover { border-color : $grey; }
    }
}

.post-type-archive-link {
    a {
        font-size : 1.2rem;
        color: #000;
        font-weight : 700;
        &:hover { text-decoration : underline; }
    }
}


.accordeon-block__accordeon-box {
    .mCSB_inside > .mCSB_container { margin-left : 10px; }
    .mCS-dark.mCSB_scrollTools {
        opacity : 1;
        .mCSB_draggerRail { width : 5px; background-color : #f5f5f5; }
        .mCSB_dragger .mCSB_dragger_bar { width : 5px; background-color : #95e1d3; }
    }
}
.accordion { }
.accordion-item { }
.accordion-header { }
.accordion-button {
    padding : 1rem; font-size : 14px; color : $grey; text-transform : uppercase;
    &:before { content : ''; flex-shrink: 0; background-repeat: no-repeat; background-size: 100%; margin : 0 15px 0 0; }
    &.photography-button:before { width : 30px; height : 30px; background-image : url(../img/picture.png);  }
    &.creativity-button:before { width : 28px; height : 32px; background-image : url(../img/equalizer.png); }
    &.webdesign-button:before { width : 32px; height : 32px; background-image : url(../img/bullseye.png); }
    &:after { }
    &:not(.collapsed) {
        color : $grey; background-color : transparent;
        &:after { background-image : url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); }
    }
    &:focus { border-color : transparent; box-shadow : none; }
}
.accordion-collapse { }
.accordion-body {
    padding : 1.25rem 1rem;
    font-family : 'Roboto Regular';
    font-size : 15px;
    color : $light-grey;
    line-height : 24px;
    max-height : 140px;
    overflow : auto;
}

@media screen and ( max-width : 1200px ) {

}

@media screen and ( max-width : 992px ) {

}


@media screen and ( max-width : 768px ) {

}

@media screen and ( max-width : 640px ) {

}

@media screen and ( max-width : 576px ) {

}

@media screen and ( max-width : 480px ) {

}

@media screen and ( max-width : 360px ) {

}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

}



